<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Медицинские организации</title>
</head>
<body>
    <table>
        <caption>Медицинские организации</caption>
            <thead>
                <tr>
                    <th>Субъект РФ</th>
                    <th>OID Мед. орг.</th>
                    <th>Имя мед. орг.</th>
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</body>
</html>