table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #000;
}

thead {
    background-color: #ccc;
}

tbody {
    background-color: #eee;
}

caption {
    font-weight: bold;
    font-size: 1.5em;
}

caption {
    margin-bottom: 1em;
}
